controllers:
  uptime-kuma:
    strategy: Recreate
    containers:
      app:
        image:
          repository: louislam/uptime-kuma
          tag: 1.23.13
          pullPolicy: IfNotPresent
        env:
          TZ: "America/New_York"
          UPTIME_KUMA_PORT: "3001"
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 3001
              initialDelaySeconds: 30
              periodSeconds: 10
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 3001
              initialDelaySeconds: 30
              periodSeconds: 10
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi

service:
  app:
    controller: uptime-kuma
    ports:
      http:
        port: 3001

ingress:
  app:
    className: traefik
    hosts:
      - host: uptime.media.lan
        paths:
          - path: /
            service:
              identifier: app
              port: http

persistence:
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 2Gi
    storageClass: nfs-appdata
    globalMounts:
      - path: /app/data
